/*
* @Author: lenovo
* @Date:   2020-12-07 17:38:53
* @Last Modified by:   lenovo
* @Last Modified time: 2020-12-11 14:57:53
*/
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html,body{
    width: 100%;
    height: 100%;
    background: url("../image/bg1.jpg") no-repeat;
    background-size: 100% 100%;

}

.cavs{   
    z-index:1;
    position: fixed;
    width:95%;
    margin-left: 20px;
    margin-right: 20px;
}

.bannermain{
	background: rgba(0, 0, 0, 0.2);
    width: 1080px;
    height: 400px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding: 100px 40px 40px 40px;
    box-shadow: -15px 15px 15px rgba(6, 17, 47, 0.7);
    z-index: 99999;

}

.info{
	width: 400px;
	height: 400px;
    position: absolute;
    top: 50px;
    margin: 0px 50px 0px 50px;
}
.info img{
    width:350px;
    height:350px;
}
.info p{
    width: 300px;
    height: 200px;
    margin-top: 20px;
    color: #87CEFA;
}

.scores{
    width: 400px;
    height: 400px;
    position: absolute;
    left: 550px;
    top: 50px;
}

.scores p{
    color: #F08080;
    font-size: 20px;
}

#bar_pic{
    height: 400px;
    width: 600px;
    margin-bottom: 15px;
    position: absolute;
    left: -35px;
    top: 20px;
}

.more_info{
    position: absolute;
    left: 520px;
    top: 420px;
}
.more_info a:hover{
    color: #F08080;
}
.more_info a{
    color: #4FA1D9;
}


.showmain{
    background: rgba(0, 0, 0, 0.2);
    width: 1080px;
    height: 400px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding: 100px 40px 40px 40px;
    box-shadow: -15px 15px 15px rgba(6, 17, 47, 0.7);
    z-index: 99999;

}

.tendency{
    width: 130px;
    height: 20px;
    font-size: 20px;
    color: #F08080;
    position: absolute;
    left: 50px;
    top: 60px;
}
.good_com{
    width: 130px;
    height: 20px;
    font-size: 20px;
    color: #F08080;
    position: absolute;
    left: 590px;
    top: 60px;

}
.line_sp{
    height: 400px;
    width: 600px;
    position: absolute;
    left: 20px;
    top: 100px;
}

#tendency_pic{
    height: 400px;
    width: 530px
}
.dig_com{
    height: 380px;
    width: 600px;
    position: absolute;
    top: 110px;
    left: 560px;
}

